site_name: DFIR Techniques
site_url: https://jrjones9440.github.io/DFIR-Techniques
repo_url: https://github.com/jrjones9440/DFIR-Techniques


# ------------------------------------------------------------------------------
# THEME CONFIGURATION
# ------------------------------------------------------------------------------
theme:
  name: material
  logo: img/CND_LogoTop.jpg   # Fixed logo path
  favicon: assets/favicon.png
  icon:
    logo: material/shield-search
  features:
    - content.action.edit
    - content.action.view
    - content.code.annotate
    - content.code.copy
    - content.tooltips
    - navigation.footer
    - navigation.indexes
    - navigation.sections
    - navigation.tabs
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow
  palette:
    - scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  font:
    text: Roboto
    code: Roboto Mono

# ------------------------------------------------------------------------------
# PLUGINS
# ------------------------------------------------------------------------------
plugins:
  - search:
      separator: '[\s\-,:!=\[\]()"`/]+|\.(?!\d)|&[lg]t;|(?!\b)(?=[A-Z][a-z])'
  - table-reader
  # - minify:
  #     minify_html: true

# ------------------------------------------------------------------------------
# CUSTOMIZATION
# ------------------------------------------------------------------------------
extra:
  analytics:
    provider: google
    property: !ENV GOOGLE_ANALYTICS_KEY
  social:
    # Example (enable for footer icons)
    # - icon: fontawesome/brands/github
    #   link: https://github.com/cmdcnd
    # - icon: fontawesome/brands/twitter
    #   link: https://twitter.com/cnd_ca

# ------------------------------------------------------------------------------
# MARKDOWN EXTENSIONS
# ------------------------------------------------------------------------------
markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.magiclink:
      repo_url_shorthand: true
      user: cmdcnd
      repo: IncidentResponse
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde

# ------------------------------------------------------------------------------
# NAVIGATION TREE
# ------------------------------------------------------------------------------
nav:
  - 1. Windows: 1.Windows/README.md
    - 1. Evidence of Execution: 1.Windows/1.Evidence_Of_Execution/README.md
